.comment-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #191919;
    position: relative;
}

.comment-box .stars {
    display: flex;
    margin-top: 10px;
}

.comment-box .stars .fa-star {
    cursor: pointer;
    color: white;
}

.comment-box .stars .on {
    color: white;
}

.comment-box .stars .off {
    color: white;
}

.comment-box .fas.fa-trash-alt {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}