/* Negro: #151515 */
/* Burdeos: #A91D3A */
/* Rojo: #C73659 */
/* Gris: #EEEEEE */

body {
    background-color: #151515;
    color: #eee;
}

.navbar {
    color: #151515;
    background-color: #A91D3A !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#webbody .form-control,
.form-control:focus,
.btn-light,
.btn-light:hover,
.btn-light:active {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #EEEEEE;
    box-shadow: none !important;

}

#webbody .input-group {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#webbody .input-group:hover,
.input-group:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: #C73659;
    border-color: #A91D3A;
}

/* h2 {
    color: #151515;
} */
.item-card {
    width: 250px;
    text-shadow: 1px 1px #000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* inner glow 👇 */
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
                0 0 0 1px hsla(0, 0%, 0%, 0.05),
                0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}

.item-card img {
    --f: 1.15;
    /* the scale factor */
    clip-path: inset(0);
    transition: .4s;
}

.item-card img:hover {
    clip-path: inset(calc((1 - 1/var(--f)) * 50%));
    scale: var(--f);
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.item-card:hover .description {
    opacity: 1;
}



